[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}
"psycopg2" = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-pgtap = {editable = true, path = "/Users/lmerg/code/pytest-pgtap"}
pylint = "*"

[requires]
python_version = "3.7.1"
